.tabela{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabelaFase1{
    border: 1px solid black;
    width: 80%;
    margin-top: 15px;
}

.data{
    display: flex;
    justify-content: center;
  
 
}

.jogosIda{
    display: flex;
    justify-content: center;
    padding-bottom: 25PX;
}

.placares{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.local{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 50%;
}

.text {
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;  
} 
.textEstadio { 
    display: flex;  
    font-weight: 500;
} 

.textMandante {
   justify-content: space-between;
    display: flex;  
    font-weight: 500;
    font-size: 20px;
} 

.textVisitante {
    margin-left: 10px;
    display: flex;  
} 


.localVisitante{
    display: flex; 
    
}