.container {
    width: 80%;
    margin-top: 15px;
}

.tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tabelaFase3 {
    border: 1px solid black;
    width: 50%;
}

.data {
    display: flex;
    justify-content: center;
}

.jogosIda {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25PX;
    align-items: center;
   
}

.placares {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.local {
    display: flex;
    align-items: center;

}

.text {
    margin-left: 10px;
    display: flex;
}

.textEstadio {
    display: flex;
}

.textMandante {
    justify-content: space-around;
    display: flex;
}

.textVisitante {
    margin-left: 10px;
    display: flex;
}


.localVisitante {
    display: flex;

}