
.tabela{   
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tabelaFase2{
    border: 1px solid black;
    width: 50%;
    margin-top: 15px;
}

.data{
    display: flex;
    justify-content: center;
 
}

.jogosIda{
    display: flex;
    justify-content: center;
    padding-bottom: 10PX;
}

.placares{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.local{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 50%;
}

.text {
    margin-left: 10px;
    display: flex;  
} 
.textEstadio { 
    display: flex;  
} 

.textMandante {
   justify-content: space-around;
    display: flex;  
} 

.textVisitante {
    margin-left: 10px;
    display: flex;  
} 


.localVisitante{
    display: flex; 
    
}